<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD7U9sgHgiEC8Fouw7a5LK1kJnpXYIdpMQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1085305309235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.waterguard</string>
	<key>PROJECT_ID</key>
	<string>floodmanagement-b7bfe</string>
	<key>STORAGE_BUCKET</key>
	<string>floodmanagement-b7bfe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085305309235:ios:ac3d5e1a1e891c7ef9bb46</string>
	<key>DATABASE_URL</key>
	<string>https://floodmanagement-b7bfe-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>